# See https://www.dartlang.org/guides/libraries/private-files
{"status":"1","message":"OK","result":"21265524714464"}
# Files and directories created by pub
{"status":"1","message":"OK","result":"135499"}
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
